body{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    margin-top: 100px;
    margin: 50px 0;
    font-weight: 900;
}

ul{
    list-style: none;
    display: grid; /*colunas*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 5vw); /*altura*/
    grid-gap: 50px; /*espaçamento entre cada coluna*/
    margin-right: 40px;
}

li{
    background-color: white;
    text-align: center;
    padding: 35px 0;
    height: 50%;
    font-size: 18px;
}

li:hover{
    background-color: rgb(31, 133, 201);
    color: white;
}

li:hover a{
    color: white;

}
a{
    display: block;
    text-decoration: none;
    font-size: 25px;
}
p{
    text-align: center;
}
