body{
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    margin-top: 100px;
    margin: 50px 0;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}

ul{
    list-style: none;
    display: grid; /*colunas*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 5vw); /*altura*/
    grid-gap: 50px; /*espaçamento entre colunas*/
    margin-right: 40px;
}

ul li {
    box-shadow: 5px 5px 15px #888888;
}

li{
    background-color: white;
    border: 1px solid black; /* moldura */
    text-align: center;
    padding: 35px 0;
    height: 50%;
    font-size: 18px;
}

li:hover{
    background-color: rgb(31, 133, 201);
    color: white;
}

li:hover a{
    color: white;

}

a{
    display: block;
    text-decoration: none;
    font-size: 25px;
}

p{
    text-align: center;
}

aside{
    grid-area: aside;
}

nav{
    grid-area: nav;
}

@media(min-width:601px){
    .geral{
        display: grid;
        grid-template-areas:
        'nav aside'
    }
}

@media(max-width:600px){ 
    .geral{
        display: grid;
        grid-template-areas:
        'nav'
        'aside'
    }
    
    ul {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    aside{
        display: flex;
    }

    aside img{
        margin: auto;
    }
}
