@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;}

a{ /*tira a linha dos href*/
    text-decoration: none;
}

.cabecalho{
    height: 100vh;
}

.menu{ /*barra*/
    padding: 15px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);  
    margin-bottom: 5px;  
    height: 70px;
    position: sticky§;
    width: 100%;
    font-weight: 400;
}

body{
    margin: 0;
}

.menu nav a { /*letras*/
    margin-right: 20px; 
    color: rgb(0, 0, 0); 
}

.menu nav .labs{ /*letras labs de programação web*/
    position: absolute;
    right: 10px;
    color: rgb(0, 0, 0);
}

.inicio {
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
    color:rgb(255, 136, 0);
    align-items: center;
    padding: 70px 0;
    background-image: url("../lab5/images/viagem.jpg") ;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 90vh;
}

.inicio p{
    color: rgb(114, 201, 114);
}

.imagem_parallax_1{
    background-image: url("../lab5/images/viagens_aviao.jpg") ;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 90vh;
}

.imagem_parallax_2{
    background-image: url("../lab5/images/caraibas.jpeg") ;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 90vh;
}

.fotos{
    display: grid; /*organiza*/
}

.photo1{
    grid-area: photo1;
}

.photo2{
    grid-area: photo2;
}

.photo3{
    grid-area: photo3;
}

.photo4{
    grid-area: photo4;
}

.photo5{
    grid-area: photo5;
}

.photo6{
    grid-area: photo6;
}

.photo7{
    grid-area: photo7;
}

.photo8{
    grid-area: photo8;
}

.photo9{
    grid-area: photo9;
}

.photo10{
    grid-area: photo10;
}

.photo11{
    grid-area: photo11;
}

.photo12{
    grid-area: photo12;
}
/*
@media(max-width : 600px){
    .fotos{
        gap: 15px;
        grid-template-areas: 
        'photo1'
        'photo2'
        'photo3'
        'photo4'
        'photo5'
        'photo6'
        'photo7'
        'photo8'
        'photo9'
        'photo10'
        'photo11'
        'photo12'; 
    }
}

@media(max-width : 900px){
    .fotos{
        gap: 15px;
        grid-template-areas:
        
        'photo1 photo2'
        'photo3 photo4'
        'photo5 photo6'
        'photo7 phot8'
        'photo9 photo10'
        'photo11 photo12';
    }
}
*/
    .fotos{
        gap: 15px;
        grid-template-areas:
        'photo1 photo2 photo3'
        'photo4 photo5 photo6'
        'photo7 photo8 photo9'
        'photo10 photo11 photo12';   
    }
    .fotos > div{
        max-height: 300px;
        max-width: 300px;
    }

.capitais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: rgb(238, 248, 248);
    padding: 50px;
}

.capitais > div{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.capitais img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais div div:last-child{
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dicas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: rgb(238, 248, 248);
    padding: 50px;
    }

.dicas > div{
    padding: 10px 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.destinos .porto{
    background-image: url("images/porto.jpg");
    background-size: cover;
    grid-area: porto;
}

.destinos .balao{
    grid-area: balao;
    color: black;
}

.destinos .coimbra{
    background-image: url("images/coimbra.jpg");
    background-size: cover;
    grid-area: coimbra;
}

.destinos .lagos{
    background-image: url("images/lagos.jpeg");
    background-size: cover;
    grid-area: lagos;
}

.destinos .madeira{
    background-image: url("images/madeira.jpeg");
    background-position: center;
    background-size: cover;
    grid-area: madeira;
}

.destinos .sao-miguel{
    background-image: url("images/sao_miguel.jpg");
    background-size: cover;
    grid-area: sao-miguel;
}

.destinos{
    display: grid;
    color: rgb(255, 255, 255);
}

@media(min-width : 901px){ /* Phone */
    .destinos{
        gap: 15px;
        grid-template-areas: 
        'porto coimbra lagos balao'
        'madeira madeira sao-miguel balao';
    }
}

@media(max-width : 900px){ /* Computer */
    .destinos{
        gap: 15px;
        grid-template-areas:
        'porto coimbra'
        'lagos sao-miguel'
        'madeira madeira'
        'balao balao'
    }
    .destinos > div{
        min-height: 500px;
    }
    .menu {
        height: 100px;
    }
}

#texto{
    text-align: center;
}

.destinos div{
    position: relative;
    padding-left: 15px;
}

.destinos > .activities{
    position: absolute;
}

.city{
    position: absolute;
    bottom: 50px;
}

.sentence{
    position: absolute;
    bottom: 0px;
}