@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body > p::first-letter{
    font-size: 20px;
}

a:link {color: rgb(30, 107, 194);
}

a:visited {color: rgb(102, 89, 14);
}

a:hover {
    cursor: pointer;
    color: rgb(155, 32, 43);}
a:active {color: blue;
}

.tabela table tr:nth-child(2n),#poema{ /*tabela das informações*/
    background-color: rgb(184, 154, 154);
    color: black; 
}

.tabela table tr:nth-child(2n-1){ /*tabela das informações*/
    background-color: rgb(22, 122, 189);
    color: black; 
}

#intro::first-letter{
    color: rgb(60, 30, 194);
    font-size:30px;
}

.fotofrase::first-line{
    color: rgb(90, 81, 45);
}

.quizz::first-line{
    color: rgb(53, 53, 190);
}

input[type="image"]{
    width: 60px;
}
.video{
    width: 100%;
}
.video iframe{
    margin: auto;
}

p, h2{
    color: black;
}

table tr:nth-child(2n-1){ /*tabela do HTML e CSS*/
    background-color: rgb(26, 149, 187);
}

table tr:nth-child(2n){ /*tabela do HTML e CSS*/
    background-color: rgb(199, 193, 193);
}

td{
    text-align: center;
}

body h1{
    text-align: center;
}

header figure {
    margin: auto;
    width: 29%;
}

nav{
    text-align: center;
}





