@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body > p::first-letter{
    font-size: 20px;
}

a:link {color: rgb(194, 183, 30);
}

a:visited {color: rgb(102, 89, 14);
}

a:hover {
    cursor: pointer;
    color: rgb(155, 32, 43);}
a:active {color: blue;
}

.tabela table tr:nth-child(2n),#poema{
    background-color: rgb(45, 127, 182);
    color: black; 
}

.tabela table tr:nth-child(2n-1){
    background-color: rgb(194, 183, 30);
    color: black; 
}

#intro::first-letter{
    color: rgb(60, 30, 194);
    font-size:30px;
}

.fotofrase::first-line{
    color: rgb(192, 130, 14);
}

.quizz::first-line{
    color: rgb(53, 53, 190);
}

input[type="image"]{
    width: 60px;
}
.video{
    width: 100%;
}
.video iframe{
    margin: auto;
}

p, h2{
    color: black;
}

table tr:nth-child(2n-1){
    background-color: rgb(26, 149, 187);
}
table tr:nth-child(2n){
    background-color: rgb(199, 193, 193);
}

td{
    text-align: center;
}
